<h1 class="test">Welcome to CSE Motors!</h1>

<section>
  <div class="carbackground">
    <img src="/images/vehicles/delorean.jpg" alt="" />
    <div class="message">
        <div class="message_text">
          <p>
            <span>DMC Delorean</span>
            <br />
            3 Cup holders
            <br />
            Superman doors
            <br />
            Fuzzy dice!
          </p>
        </div>
    </div>
    <div class="message_button">
      <button>Own Today</button>
    </div>
  </div>
</section>

<section class="upgrades_cards">
    <div class="upgrades">
      <h2>Delorean Upgrades</h2>
      <div class="wrapper_cards">
        <div class="body_card">
          <div class="card_image">
            <img src="/images/upgrades/flux-cap.png" alt="" />
            
          </div>
          <div class="card_link">
            <a href="#">Flux Capacitor</a>
          </div>
        </div>
        <div class="body_card">
          <div class="card_image">
            <img src="/images/upgrades/flame.jpg" alt="" />
          </div>
          <div class="card_link">
            <a href="#">Flame Decals</a>
          </div>
        </div>
        <div class="body_card">
          <div class="card_image">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="" />
          </div>
          <div class="card_link">
            <a href="#">Bumper Stickers</a>
          </div>
        </div>
        <div class="body_card">
          <div class="card_image">
            <img src="/images/upgrades/hub-cap.jpg" alt="" />
          </div>
          <div class="card_link">
            <a href="#">Hub Caps</a>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews">
      <h2>DMC Delorean Reviews</h2>
      <div class="list">
        <ul>
          <li>"So fast it's almost like traveling in time." (4/5)</li>
          <li>"Coolest ride on the road." (4/5)</li>
          <li>"I'm feeling McFly!" (5/5)</li>
          <li>"The most futuristic ride of our day." (4.5/5)</li>
          <li>"80s livi and I love it!" (5/5)</li>
        </ul>
      </div>
    </div>
</section>